* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, #274156, #294C60, #001B2E);
  overflow-x: hidden;
}

input {
  outline: none;
}

input:focus {
  outline: none;
}

.name {
  word-wrap: wrap;
  padding-right: 1px;
  margin-right: 100px;
}

.edit-name-box {
  position: fixed;
  pointer-events: all;
  z-index: 100;
  top: 50px;
  left: 50%;
  width: 60vw;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-50%) translateY(-300%);
          transform: translateX(-50%) translateY(-300%);
  background-color: #FBFCFF;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.42, 0, 0.35, 1.44);
  transition: -webkit-transform 400ms cubic-bezier(0.42, 0, 0.35, 1.44);
  transition: transform 400ms cubic-bezier(0.42, 0, 0.35, 1.44);
  transition: transform 400ms cubic-bezier(0.42, 0, 0.35, 1.44), -webkit-transform 400ms cubic-bezier(0.42, 0, 0.35, 1.44);
}

.edit-name-box.active {
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
}

.edit-name-box .edit-submit-btn {
  padding: 10px 20px;
  background-color: #2a2a81;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
}

.edit-name-box .edit-submit-btn:hover {
  background-color: #653485;
}

.edit-name-box input[name="edit-name"] {
  width: 70%;
  height: 30px;
  padding: 5px;
  font-size: 16px;
}

.edit-name-box .title {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
  background-image: linear-gradient(45deg, #274156, #294C60, #001B2E);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  word-wrap: wrap;
}

.all-todo-lists {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0 0 0;
}

.list-of-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  min-width: 250px;
  border: 1px solid black;
}

.list-of-lists .title {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
  background: -webkit-gradient(linear, right top, left top, from(white), color-stop(#a0b3bd), to(#adc3d4));
  background: linear-gradient(to left, white, #a0b3bd, #adc3d4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  word-wrap: wrap;
}

.list-of-lists .list {
  min-width: 250px;
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FBFCFF;
  font-size: 17px;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
  transition: transform 200ms ease-in-out, background-color 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.list-of-lists .list:hover {
  -webkit-box-shadow: -1px 1px 10px #728390;
          box-shadow: -1px 1px 10px #728390;
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  opacity: 0.9;
}

.list-of-lists .list.selected-list {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  background-color: #0b304b;
}

.list-of-lists .list i {
  color: white;
  cursor: pointer;
  pointer-events: all;
}

.list-of-lists .list .edit {
  margin-left: auto;
  margin-right: 15px;
}

.list-of-lists .list .edit, .list-of-lists .list .delete {
  pointer-events: none;
}

.container {
  width: 400px;
  padding: 10px;
  border: 1px solid black;
}

.container .title {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
  background: -webkit-gradient(linear, right top, left top, from(white), color-stop(#a0b3bd), to(#adc3d4));
  background: linear-gradient(to left, white, #a0b3bd, #adc3d4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.container .tasks_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  margin-bottom: 10px;
}

.container .tasks_container .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 10px;
  font-size: 17px;
  color: #274156;
  background-color: #FBFCFF;
  border: 1px solid #dadadb;
  -webkit-transition: -webkit-box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: -webkit-box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease, -webkit-box-shadow 200ms ease, -webkit-transform 200ms ease;
}

.container .tasks_container .task i {
  cursor: pointer;
  color: black;
  pointer-events: all;
}

.container .tasks_container .task .edit {
  margin-left: auto;
  margin-right: 5px;
}

.container .tasks_container .task .edit, .container .tasks_container .task .delete {
  pointer-events: none;
}

.container .tasks_container .task:hover {
  -webkit-box-shadow: -1px 1px 10px #274156;
          box-shadow: -1px 1px 10px #274156;
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

.container .tasks_container .task .done {
  width: 30px;
}

.container .tasks_container .task .done input {
  outline: none;
  cursor: pointer;
}

.container .tasks_container .task .done input:focus {
  outline: none;
}

.container .tasks_container .task.completed {
  opacity: 0.8;
}

.container .tasks_container .task.completed:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  -webkit-transform: unset;
          transform: unset;
}

.container .tasks_container .task.completed .name {
  position: relative;
}

.container .tasks_container .task.completed .name::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #001B2E;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2px;
}

form .submit_new_task, form .submit_new_list {
  width: 50px;
  height: 30px;
}

form .submit_new_task i, form .submit_new_list i {
  position: absolute;
  right: 0%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  color: #FBFCFF;
  cursor: pointer;
}

form input {
  border: none;
  border-bottom: 2px solid #FBFCFF;
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 200ms ease-out, padding 200ms ease-in, font-size 200ms ease-in;
  transition: width 200ms ease-out, padding 200ms ease-in, font-size 200ms ease-in;
  background-color: transparent;
  color: #FBFCFF;
  outline: none;
}

form input::-webkit-input-placeholder {
  color: white;
}

form input:-ms-input-placeholder {
  color: white;
}

form input::-ms-input-placeholder {
  color: white;
}

form input::placeholder {
  color: white;
}

form input:focus {
  width: 100%;
  padding-left: 10px;
}

.error-popup {
  position: relative;
}

.error-popup::before {
  --popup-height: 50px;
  position: absolute;
  content: 'Please Select a list!';
  width: 150px;
  height: var(--popup-height);
  top: calc(var(--popup-height) * -1 - 10px);
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  background-color: #e07c63;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
  font-size: 17x;
  font-family: 'Times New Roman', Times, serif;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.error-popup::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  background-color: #e07c63;
  top: -7px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%) rotate(45deg) scale(1);
          transform: translate(-50%, -100%) rotate(45deg) scale(1);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  z-index: -1;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

@media screen and (max-width: 760px) {
  .all-todo-lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .all-todo-lists .list-of-lists {
    margin-bottom: 10px;
  }
  .all-todo-lists .container {
    width: auto;
    margin: 10px 0;
  }
  .all-todo-lists .name {
    word-wrap: break-word;
    max-width: 35%;
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */