* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, #274156, #294C60, #001B2E);
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid black;
}

.container .title {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
  background: -webkit-gradient(linear, right top, left top, from(white), color-stop(#a0b3bd), to(#adc3d4));
  background: linear-gradient(to left, white, #a0b3bd, #adc3d4);
  background-clip: text;
  color: transparent;
}

.container .tasks_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  margin-bottom: 10px;
}

.container .tasks_container .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 10px;
  font-size: 17px;
  color: #274156;
  background-color: #FBFCFF;
  border: 1px solid #dadadb;
  -webkit-transition: -webkit-box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: -webkit-box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease, -webkit-box-shadow 200ms ease, -webkit-transform 200ms ease;
}

.container .tasks_container .task .name {
  padding-right: 1px;
  margin-right: 100px;
}

.container .tasks_container .task i {
  cursor: pointer;
  color: black;
  pointer-events: all;
}

.container .tasks_container .task .edit {
  margin-left: auto;
  margin-right: 5px;
}

.container .tasks_container .task .edit, .container .tasks_container .task .delete {
  pointer-events: none;
}

.container .tasks_container .task:hover {
  -webkit-box-shadow: -1px 1px 10px #274156;
          box-shadow: -1px 1px 10px #274156;
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

.container .tasks_container .task .done {
  width: 30px;
}

.container .tasks_container .task .done input {
  outline: none;
  cursor: pointer;
}

.container .tasks_container .task .done input:focus {
  outline: none;
}

.container .tasks_container .task.completed {
  opacity: 0.8;
}

.container .tasks_container .task.completed:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  -webkit-transform: unset;
          transform: unset;
}

.container .tasks_container .task.completed .name {
  position: relative;
}

.container .tasks_container .task.completed .name::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #001B2E;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2px;
}

.container form .submit_new_task {
  width: 50px;
  height: 30px;
}

.container form .submit_new_task i {
  position: absolute;
  right: 0%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  color: #FBFCFF;
  cursor: pointer;
}

.container form input {
  border: none;
  border-bottom: 2px solid #FBFCFF;
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 200ms ease-out, padding 200ms ease-in, font-size 200ms ease-in;
  transition: width 200ms ease-out, padding 200ms ease-in, font-size 200ms ease-in;
  background-color: transparent;
  color: #FBFCFF;
}

.container form input::-webkit-input-placeholder {
  color: white;
}

.container form input:-ms-input-placeholder {
  color: white;
}

.container form input::-ms-input-placeholder {
  color: white;
}

.container form input::placeholder {
  color: white;
}

.container form input:focus {
  width: 100%;
  padding-left: 10px;
}
/*# sourceMappingURL=style.css.map */