*{
	padding: 0;
	margin: 0;
	font-family: 'Times New Roman';
	box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg,#274156, #294C60, #001B2E);
    overflow-x: hidden;
}


.name {
    word-wrap: wrap;
    padding-right: 1px;
    margin-right: 100px;
}

.all-todo-lists{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0 0 0;
}

.list-of-lists{
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 250px;
    border: 1px solid black;

    .title{
        display: grid;
        place-items: center;
        font-size: 19px;
        font-weight: bold;
        font-style: italic;
        background: linear-gradient(to left, white, rgb(160, 179, 189), #adc3d4);
        background-clip: text;
        color: transparent;
        word-wrap: wrap;
    }

    .list{
        min-width: 250px;
        padding: 10px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #FBFCFF;
        font-size: 17px;
        cursor: pointer;
        transition: transform 200ms ease-in-out,
                    background-color 200ms ease-in-out;
        // border: 1px solid pink;

        &:hover{
            box-shadow: -1px 1px 10px #728390;
            transform: translateX(3px);
            opacity: 0.9;
        }

        &.selected-list{
            transform: translateX(3px);
            background-color: rgb(11, 48, 75);
            // box-shadow: -1px 1px 3px #728390;
        }

        i{
            color: rgb(255, 255, 255);
            cursor: pointer;
            pointer-events: all;
        }

        .edit{
            margin-left: auto;
            margin-right: 15px;
        }

        .edit, .delete{
            pointer-events: none;
        }
    }
}

.container{
    width: 400px;
    padding: 10px;
    border: 1px solid black;

    .title{
        display: grid;
        place-items: center;
        font-size: 19px;
        font-weight: bold;
        font-style: italic;
        background: linear-gradient(to left, white, rgb(160, 179, 189), #adc3d4);
        background-clip: text;
        color: transparent;
    }

    .tasks_container{
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin-bottom: 10px;
        // border: 1px solid blue;
        
        .task{
            display: flex;
            flex-direction: row;
            padding: 10px 10px;
            font-size: 17px;
            color: #274156;
            background-color: #FBFCFF;
            border: 1px solid rgb(218, 218, 219);
            transition: box-shadow 200ms ease,
                        transform 200ms ease;

            i{
                cursor: pointer;
                color: black;
                pointer-events: all;
            }

            .edit{
                margin-left: auto;
                margin-right: 5px;
            }

            .edit, .delete{
                pointer-events: none;
            }

            &:hover{
                box-shadow: -1px 1px 10px #274156;
                transform: translateX(3px);
            }

            .done{
                width: 30px;

                input{
                    outline: none;
                    cursor: pointer;
                }
                
                input:focus{
                    outline: none;
                }
            }

            &.completed{
                opacity: 0.8;

                &:hover{
                    box-shadow: unset;
                    transform: unset;
                }

                .name{
                    position: relative;
                }
                
                .name::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #001B2E;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

form{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 2px;
    // border: 1px solid gray;

    .submit_new_task, .submit_new_list{
        width: 50px;
        height: 30px;

        i{
            position: absolute;
            right: 0%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            color: #FBFCFF;
            cursor: pointer;
        }
    }

    input{
        border: none;
        border-bottom: 2px solid #FBFCFF;
        width: 25%;
        box-sizing: border-box;
        transition: width 200ms ease-out,
        padding 200ms ease-in,
        font-size 200ms ease-in;
        background-color: transparent;
        color: #FBFCFF;

        &::placeholder{
            color: white;
        }
        
        &:focus{
            width: 100%;
            padding-left: 10px;
        }
    }
}

@media screen and (max-width: 760px){
    .all-todo-lists{
        flex-direction: column;

        .list-of-lists{
            margin-bottom: 10px;
        }
    }
}